<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.sadewawicak.creativesolusindo.sismiopadmin">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".superadmin.topmenu.ProfileActivity">
        </activity>
        <activity android:name=".superadmin.bphtb.MainBPHTBSuperAdminActivity">
        </activity>
        <activity android:name=".superadmin.topmenu.TopMenuActivity">
        </activity>
        <activity
                android:name=".login.LoginActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".petugas.MainActivity"/>
        <activity android:name=".superadmin.pbb.MainActivitySuperAdmin">
        </activity>
    </application>

</manifest>